---
interface Props {

}

const menu = [
  {
    name: "Home",
    path: "/",
    icon: "",
    order: 0
  },
  {
    name: "Artesanía",
    path: "/artesanía",
    icon: "",
    order: 1
  },
  {
    name: "proyectos",
    path: "/proyectos",
    icon: "",
    order: 2
  },
  {
    name: "Contacto",
    path: "/contacto",
    icon: "",
    order: 3
  },
  {
    name: "Github",
    path: "/github",
    icon: "",
    order: 4
  },
  {
    name: "Github",
    path: "/github",
    icon: "",
    order: 5
  },
  {
    name: "Github",
    path: "/github",
    icon: "",
    order: 6
  },
  {
    name: "Github",
    path: "/github",
    icon: "",
    order: 7
  },
];

const {} = Astro.props;
---

<div class="z-50 menu w-auto h-auto card3d relative bg-cardbg border-[1px] border-customborder rounded-full shadow-lime-950 flex gap-3">
  {
    menu.map(e => (
      <div class="menu-item w-11 h-11 p-1 rounded-full bg-customborder border-t-[0.1px] border-b-[0.1px] border-t-green-900 border-b-customborder flex items-center justify-center relative">
        <span class="span-item text-basetext text-sm border-[1px] border-customborder rounded-md p-1 bg-cardbg absolute -top-10 hidden">{e.name}</span>
      </div>
    ))
  }
</div>

<style>
.menu {
  box-shadow: 1px 1px 7px 0px rgb(5, 31, 26);
  align-items: flex-end;
  height: 60px;
  padding: 10px 10px;
}

.show {
  display: block;
  animation: 0.2s fadein;
}

.hidden {
  opacity: 0;
  animation: 0.2s fadeout ease-out;
}

.menu-item {
  width: 40px;
  height: 40px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
</style>

<script is:inline>
  document.addEventListener("DOMContentLoaded", (event) => {
    const menu = document.querySelector('.menu');
    const spans = Array.from(menu?.children || []);

    if (menu) {
      menu.addEventListener('mousemove', (ev) => {
        const item = ev.target;
        if (item && item.classList.contains('menu-item')) {
          const spanActual = ev.target;
          const indiceActual = spans.indexOf(spanActual);

          const dosAnteriores = spans.slice(Math.max(indiceActual - 2, 0), indiceActual);
          const dosPosteriores = spans.slice(indiceActual + 1, indiceActual + 3);

          const anterior2 = dosAnteriores[0];
          const anterior1 = dosAnteriores[1];
          const posterior1 = dosPosteriores[0];
          const posterior2 = dosPosteriores[1];

          if (anterior2) {
            anterior2.style.width = `50px`;
            anterior2.style.height = `50px`;
            anterior2.style.top = `0px`;
            anterior2.style.transition = `all 0.4s ease`;
          }
          if (anterior1) {
            anterior1.style.width = `60px`;
            anterior1.style.height = `60px`;
            anterior1.style.top = `0px`;
            anterior1.style.transition = `all 0.3s ease`;
          }

          item.style.width = `70px`;
          item.style.height = `70px`;
          item.style.top = `0px`;
          item.style.top = `0px`;

          item.style.zIndex = `20`;
          item.style.transition = `all 0.3s ease`;

          if (posterior1) {
            posterior1.style.width = `60px`;
            posterior1.style.height = `60px`;
            posterior1.style.top = `0px`;
            posterior1.style.transition = `all 0.4s ease`;
          }
          if (posterior2) {
            posterior2.style.width = `50px`;
            posterior2.style.height = `50px`;
            posterior2.style.top = `0px`;
            posterior2.style.transition = `all 0.3s ease`;
          }

          item.querySelector('.span-item')?.classList.add('show');
          item.querySelector('.span-item')?.classList.remove('hidden');
        }
      });
    }

    document.querySelectorAll('.menu-item').forEach(item => {
      item.addEventListener('mouseleave', (event) => {
        item.querySelector('.span-item')?.classList.add('hidden');
        item.querySelector('.span-item')?.classList.remove('show');
      });
    });

    menu?.addEventListener('mouseleave', (ev) => {
      document.querySelectorAll('.menu-item').forEach(item => {
        item.style.width = `40px`;
        item.style.height = `40px`;
        item.style.zIndex = `0`;
        item.style.transition = 'all 0.4s ease';
      });
    });
  })
 
</script>
